/* font-family: 'Kumbh Sans', sans-serif; */

/* common  */
* {
    font-family: 'Kumbh Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

:root {
    --orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);
    --very-dark-blue: hsl(220, 13%, 13%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --light-grayish-blue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
}

.d-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    max-width: 100%;
    height: auto;
}

.orange-btn {
    margin: 1rem 0;
    padding: 1em 0;
    font-size: 1.3rem;
    font-weight: 700;
    background-color: var(--orange);
    color: var(--white);
    opacity: .9;
    border-radius: .7rem;
    -webkit-border-radius: .7rem;
    -moz-border-radius: .7rem;
    -ms-border-radius: .7rem;
    -o-border-radius: .7rem;
    box-shadow: 0rem 2rem 1rem rgba(255, 125, 26, .1);
    text-shadow: .1rem .1rem -1rem var(--white);
    letter-spacing: .1rem;
}

.wrapper {
    margin: 0 auto;
    max-width: 144rem;
}

/* end of common  */

/* header  */
.header {
    max-width: 130rem;
    height: 4.5rem;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    background-color: var(--white);
    width: 100%;
    justify-content: space-between;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.header__hamburger {
    margin-right: 1.5rem;
}

.header__cart {
    margin-left: auto;
}

.header__right {
    margin-left: 1rem;
}

.avatar__wrapper {
    margin-left: 1.5rem;
    width: 21%;
}

.navigation {
    height: 100vh;
    background-color: var(--light-grayish-blue);
    width: 0%;
    top: 0;
    left: 0;
    position: fixed;
    transition: width .4s;
    -webkit-transition: width .4s;
    -moz-transition: width .4s;
    -ms-transition: width .4s;
    -o-transition: width .4s;
    z-index: 9998;
}

.active .backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, .3);
    backdrop-filter: blur(2px);
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.active .navigation {
    background-color: var(--light-grayish-blue);
    width: 60%;
}

.close-img {
    padding: 1.5rem 2rem 0 2rem;
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    cursor: pointer;
}

.navigation__list {
    margin-top: 4rem;
    overflow: hidden;
}

.navigation__item {
    margin-bottom: 1rem;
    font-size: 1.7rem;
    text-transform: capitalize;
    font-weight: 700;
    transition: opacity .2s;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -ms-transition: opacity .2s;
    -o-transition: opacity .2s;
}

.navigation__item:hover {
    opacity: .7;
    cursor: pointer;
}

/* end of header  */

/* main  */
.carousel {
    position: relative;
    top: 2rem !important;
}

.carousel--second {
    display: none;
}

.carousel-indicators {
    display: none !important;
}

.carousel-control-next,
.carousel-control-prev {
    opacity: 1 !important;
    top: 4.5rem !important;
}

.nav-icon-wrapper {
    justify-content: center;
    background-color: var(--white);
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.nav-icon-wrapper--left {
    transform: translateX(1rem);
    transform: translateY(-1rem);
    -webkit-transform: translateX(1rem);
    -moz-transform: translateX(1rem);
    -ms-transform: translateX(1rem);
    -o-transform: translateX(1rem);
}

.nav-icon-wrapper--right {
    transform: translateX(-1rem);
    transform: translateY(-1rem);
    -webkit-transform: translateY(-1rem);
    -moz-transform: translateY(-1rem);
    -ms-transform: translateY(-1rem);
    -o-transform: translateY(-1rem);
}

.fa-chevron-right,
.fa-chevron-left {
    font-size: 1.3rem;
    color: var(--black);
}

.sections__wrapper {
    margin-top: 2rem;
    padding: 1.5rem;
}

.product__company {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .1rem;
    color: var(--orange)
}

.product__name {
    margin-bottom: 1.5rem;
    font-size: 2rem;
    font-weight: 700;
    text-transform: capitalize;
}

.product__description {
    font-size: 1.3rem;
    color: var(--dark-grayish-blue);
    opacity: .8;
    font-weight: 400;
}

.buy__conditions {
    margin: 1.5rem 0;
    justify-content: space-between;
}

.buy__prise,
.buy__discount,
.buy__regular,
.score,
.add-txt {
    margin-bottom: 0;
}

.buy__prise {
    margin-right: 1rem;
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--black);
}

.discount-wrapper {
    background-color: var(--pale-orange);
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.buy__discount {
    padding: .1em .5em;
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--orange)
}

.buy__regular {
    font-size: 1.3rem;
    font-weight: 700;
    text-decoration: line-through;
    color: var(--grayish-blue);
}

.buy__counter {
    margin-bottom: 1.5rem;
    justify-content: space-between;
    padding: 1em 2em;
    border-radius: .5em;
    background-color: var(--light-grayish-blue);
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    -ms-border-radius: .5em;
    -o-border-radius: .5em;
}

.score {
    font-size: 1.3rem;
    color: var(--black);
    font-weight: 700;
}

.add-txt {
    margin-left: .5rem;
}

/* end of main */

@media(min-width:700px) {
    .wrapper {
        padding: 0 2rem;
    }

    .header {
        padding: 3rem;
        border-bottom: .15rem solid var(--light-grayish-blue);
    }

    .header__hamburger,
    .nav__close {
        display: none;
    }

    .header__logo {
        margin-right: 3rem;
    }



    .navigation {
        height: auto;
        width: auto;
        position: relative;
        margin-right: auto;
        background-color: var(--white);
    }

    .navigation__list {
        padding-left: 0;
        display: flex;
        margin-top: 0;
        overflow: initial;
        margin-bottom: 0;
        justify-content: flex-start;
        align-items: center;
    }

    .navigation__list.active {
        background-color: rgba(0, 0, 0, .3);
    }

    .navigation__item {
        margin-right: 2rem;
        font-size: 1rem;
        font-weight: 200;
        margin-bottom: 0;
    }

    .active .navigation__item {
        filter: blur(2px);
        -webkit-filter: blur(2px);
    }

    .buy__conditions {
        flex-wrap: wrap;
    }

    .buy__regular {
        width: 100%;
    }
}

@media(min-width:800px) {
    .backdrop.active {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100vh;
        background-color: rgba(0, 0, 0, .3);
        backdrop-filter: blur(2px);
    }

    .carousel-inner {
        max-width: 50rem;
    }

    .carousel--second {
        max-width: 47rem;
        position: fixed !important;
        z-index: 100;
        bottom: 50%;
        transform: translateY(40%);
        -webkit-transform: translateY(40%);
        -moz-transform: translateY(40%);
        -ms-transform: translateY(40%);
        -o-transform: translateY(40%);
    }

    .carousel--second.active {
        display: block;
    }

    .carousel-control-prev,
    .carousel-control-next {
        display: none !important;
    }

    .carousel-control-prev--second,
    .carousel-control-next--second {
        display: block !important;
    }
    .fa-xmark {
        color: var(--white);
        font-size: 3rem;
        position: absolute;
        right: 1rem;
        top: -4rem;
        cursor: pointer;
    }

    .carousel-inner--second {
        overflow: visible !important;
    }

    .carousel__wrapper--second {
        overflow: hidden !important;
    }

    .carousel-control-next--second {
        width: auto !important;
        top: 0 !important;
    }

    .carousel-control-prev--second {
        top: 0 !important;
        width: auto !important;
    }

    .nav-icon-wrapper--left,
    .nav-icon-wrapper--right {
        justify-content: center;
        background-color: var(--white);
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }

    .nav-icon-wrapper--left {
        transform: translateX(-2rem);
        transform: translateY(0rem);
        -webkit-transform: translateX(-2rem);
        -moz-transform: translateX(-2rem);
        -ms-transform: translateX(-2rem);
        -o-transform: translateX(-2rem);
    }

    .nav-icon-wrapper--right {
        transform: translateX(2rem);
        transform: translateY(0rem);
        -webkit-transform: translateX(2rem);
        -moz-transform: translateX(2rem);
        -ms-transform: translateX(2rem);
        -o-transform: translateX(2rem);
    }

    .fa-chevron-right--large,
    .fa-chevron-left--large {
        font-size: 2rem;
    }

    .main {
        margin-top: 5rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .carousel-item {
        width: 100%;
        max-width: 100%;
    }

    .carousel-img {
        border-radius: 1rem !important;
        -webkit-border-radius: 1rem !important;
        -moz-border-radius: 1rem !important;
        -ms-border-radius: 1rem !important;
        -o-border-radius: 1rem !important;
    }

    .nav-icon-wrapper--none {
        display: none;
    }

    .sections__wrapper {
        width: 40%;
    }

    .indicators {
        display: flex !important;
        justify-content: space-around !important;
        width: 100%;
        margin-left: 0 !important;
        position: relative !important;
        margin-top: 1.5rem;
    }

    .indicators__button {
        width: 7rem !important;
        height: 7rem !important;
        object-fit: cover;
        background-position: center;
        border-radius: 1rem;
        opacity: 1 !important;
        box-sizing: border-box !important;
        border: 0rem solid hsl(26, 90%, 36%) !important;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
    }

    .indicators__button+.indicators__button {
        margin-left: 1rem !important;
    }

    .indicators__button.active {
        opacity: .5 !important;
        border: .2rem solid hsl(26, 90%, 36%) !important;
    }

    .indicators__button--1 {
        background-image: url(/images/image-product-1-thumbnail.jpg);
    }

    .indicators__button--2 {
        background-image: url(/images/image-product-2-thumbnail.jpg);
    }

    .indicators__button--3 {
        background-image: url(/images/image-product-3-thumbnail.jpg);
    }

    .indicators__button--4 {
        background-image: url(/images/image-product-4-thumbnail.jpg);
    }

    .buy__buttons {
        display: flex;
        justify-content: space-between;
    }

    .buy__counter,
    .orange-btn--buy {
        height: 3rem;
        border-radius: .4rem;
        margin: 0;
        -webkit-border-radius: .4rem;
        -moz-border-radius: .4rem;
        -ms-border-radius: .4rem;
        -o-border-radius: .4rem;
        font-size: .9rem;
    }

    .score {
        font-size: .9rem;
    }

    .buy__counter {
        width: 35%;
        padding: 0;
        justify-content: space-around;
    }

    .orange-btn--buy {
        width: 60%;
    }

    .carousel-item,
    .indicators {
        max-width: 50rem;
    }

    .wrapper {
        max-height: 70vh;
    }

    .main {
        margin: 10rem auto;
        max-width: 100rem;
    }

    .carousel-item,
    .indicators {
        max-width: 50rem;
    }
}

@media(min-width:1400px) {
    html {
        font-size: 80%;
    }
}